/* Path: Projet_CSS\style.css */
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    line-height: 1.7; 
    /* font-weight: 400; */
    /* font-size: 16px; */
    
    
}

html, body {
    margin: 0%;
    padding: 0%;
    background-color: #fffffecc;
}
/* supprime l'espace entre les éléments */
.nav ul {
    margin: 0;
    padding: 0;
}
/* affiche les éléments de la barre de navigation en ligne */
.nav li {
    display: inline;
    /* text-align: center; */
}
/* ajoute un espace entre les éléments de la barre de navigation */
.nav a {
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    color: #ffffff;
}
/* centrer les elements de la barre de navigation, augmenter la police et ajouter une ligne solide */
.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid #9b97977a;
}
/* changer de couleur au survol de la souris sur les elements de la barre de navigation */
.nav a:hover {
    background-color: #f0ececda;
}
/* Ajouter background-color pour attenuer la couleur de l'image de fond en faisant la fusion avec blend-mode */
.main-header{
    background-color: #0000004b;
    background-image: url(images/background_image.jfif);
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 7%;
}
#generic{
    color: white;
}
